body h1 {
    color: #2D1A2F;
    font-size: xx-large;
    font-family: cookie;
    font-style: normal;
    font-weight: 400;
    padding-left: 14px;
    margin-left: 0px;
    text-align: center;
}
body h2 {
    color: #383585;
    font-style: normal;
    text-align: center;
}
body p {
    text-align: center;
    color: #000000;
}
body h3 {
    text-align: center;
    color: #802123;
    font-size: x-large;
}
#link-algin a {
    color: #000000;
    font-size: small;
    font-style: oblique;
    text-decoration: none;
}
body img {
    padding-left: 646px;
    clear: none;
}
body h4 {
    color: #000000;
    text-align: center;
    font-style: normal;
    font-size: large;
}
